<div class="main-wrapper main-div" fxLayout="column" fxLayoutAlign="center center">
    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Register</mat-card-title>
      </mat-card-header>
      <form class="example-form">
        <mat-card-content>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Username" required>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Email Adress" required >
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <input matInput [type]="hide ? 'password' : 'text'" placeholder="Password" required>
                <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <input matInput [type]="hide ? 'password' : 'text'" placeholder="Retype Password" required>
                <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
        </mat-card-content>
        <button type="submit" mat-stroked-button color="primary" class="btn-block">Register</button>
      </form>
    </mat-card>
  </div>